extends ./layout

block title
  title Data of #{modelName}

block content
 .container
   h1 #{modelName}
 .container.toolbar.btn-toolbar
   button.btn.btn-primary(type="button", onclick="addRow('#{modelName}')") Add empty row
   button#save-button.btn.btn-default(type="button", onclick="saveGrid('#{modelName}')") Save
 .container
   table.table.table-bordered
     thead
       each column in columns
         th.clickable(onclick="editColumn('#{column.id}')")= column.label
     tbody#rows
       each row in rows
         tr(id='#{row.id}')
           each column in columns
             td(class='#{column.id}')
               div= row[column.id]
 
block imports
  script(src="/javascript/data-controller.js")
